{{!-- 
  DISPLAYS a blog post title, text, and the user and time
  it was created. Used by dashboard - links to edit page when
  clicked.
  CALLED BY  
    dashboard.handlebars 
    --}}
<article class="post">
  <div class="post-heading">
    <span>
      <a href="/dashboard/edit/{{id}}" class="edit-link">{{title}}</a>
    </span>
    <span class="meta">
      posted on {{format_date created_at}}
    </span>
  </div>
    {{!-- also make the blog post text clickable --}}
    {{!-- but let the text stay gray --}}
  <div class="post-display" ><a id="clickable-post" href="/dashboard/edit/{{id}}"
    > {{post_txt}} </a>
 </div>
 <a href="/dashboard/edit/{{id}}">Edit Post</a>
</article>