<section style="background-color: aquamarine;">
 
  {{!-- ADD MEETING CONTROL FLOW
    called from dashboard-routes '/' and login
    ----------------------------------------------
    * IN DASHBOARD.HANDEBARS
        User clicks ADD MEETING BUTTON (dashboard.handlebars)
        This button does not have an event listener - it links to 
        dashboard-routes via href="/dashboard/add-meeting"
    * DASHBOARD-ROUTES.JS
        hits the /add-meeting route 
        which calls res.render to load ADD-MEETING.HANDLEBARS 
    * ADD-MEETING.HANDLEBARS
        builds the NEW-MEETING form & SUBMIT button
        loads the script ADD-MEETING.JS  
    * ADD-MEETING.JS 
        Adds event listener addMeetingHandler () 
          to the ADD-MEETING.handlebars SUBMIT button
        ON SUBMIT -  addMeetingHandler 
          LOADS data from the add-meeting.handlebars form and
          POSTS the info to the route: /api/meetings and if response is ok
        RETURNS via  document.location.replace('/dashboard');
        --}}
  <div>
    <a href="/dashboard/add-meeting"><button class="btn">Add Meeting</button></a>
  </div>

{{!-- the comments above are new the stuff below is our old test display --}}

  {{#each meetingObj}}
  <p>
    {{date}}
    {{start}}
    {{end}}
    {{meeting_name}}
    {{topic}}
  </p>
  {{/each}}
</section>