<section style="background-color: aquamarine;">
  <div>
    <button id="add-meeting">
      Add Meeting
    </button>


  </div>



  {{#each meetingObj}}
  <p>
    {{date}}
    {{start}}
    {{end}}
    {{meeting_name}}
    {{topic}}
  </p>
  {{/each}}
</section>